<!DOCTYPE html>
<html>
{%if typ == 'blad'%}
<div>
    wiadomosc musi miec 10-200 znakow

</div>
{%endif%}
<form action="{% url 'news'%}" method="post">
    {% csrf_token %}
<table>
    {{form.as_table}}
</table>

	<input type="submit" value="Dodaj" />
</form>
</html>