<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Mój blog</title>
    </head>
    <body>
            {%if typ == 'ok'%}
        <div style="color:green;padding:15px">
            Na podane konto mailowe został wysłany link aktywacyjny do twojego konta :)
        </div>
        {%endif%}
        <div class="container">
            <div class="content">
              <div>
             {% if user.is_authenticated%}
               <h2> <a href="{% url 'news' %}">Dodaj Wpis</a><br/>
                  <a href="{% url 'logout' %}">Logout</a><br />
                  <a href ="{% url 'editList' %}">Edytuj Wpisy</a>
               </h2>

             {% else %}
                <h2>   <a href="{% url 'user_login'  %}">Zaloguj się</a><br/></h2>
                  <h2>   <a href="{% url 'register'  %}">Rejestracja</a><br/></h2>

             {% endif%}
            </div>
                <hr><hr>
            <div>
                {% for user in users %}
                 pokaż wpisy użytkownika : <a href="./user/{{user.username}}"> {{ user.username }} </a> <br/>

                {% endfor %}
            </div>
            <hr><hr>
            {% for wpis in newsy %}
                <p><b>Tytuł: </b>{{ wpis.title }}</p>
                <p>{{wpis.content}}</p>
                <p><b>Wpis utworzony przez:</b>  {{ wpis.user }}</p>
                   {% if wpis.edited == True  %}

                       <p><b>Wpis edytowany przez:</b>  {{ wpis.editor }}</p>
                       <p><b>Data ostatniej aktualizacji:</b>  {{ wpis.editTime }}</p>

                    {% endif %}
                <p><b>Tagi</b>:
                    {% for tag in wpis.tags.all %}
                        {{tag.name}}

                    {% endfor %}</p>
                <p>Data: {{wpis.published}}</p>

                <hr>

                {% if wpis.edited == True %}

                <p>Ostatnia edycja: {{wpis.editor}}, {{wpis.editTime}}</p>

                {% endif %}
            {% endfor %}

            {% block content %}{% endblock %}
            </div>

        </div>
    </body>
</html>