<!DOCTYPE html>
<html>
{%if typ == 'blad'%}
<div>
    wiadomosc musi miec 10-200 znakow

</div>
{%endif%}
<form action="" method="post">
    {% csrf_token %}
<table>
    {{form.as_table}}
</table>

	<input type="submit" value="Edytuj" />
</form>
</html>