<!DOCTYPE html>
<html>
<head>
    <title>Wpisy Użytkownia: {{user}}</title>
</head>
<h2>Wpisy do edytowania:</h2>
<body>
{% for wpis in wpisy %}
<div class="wpis">
   <b><p>{{ wpis.title }} <a href="./editing/{{wpis.id}}"> EDYTUJ </a> <br/>

   </p></b>
    <hr><hr>
</div>
{% endfor %}

<h2> <a href="{% url 'blog' %}">POWRÓT</a><br/></h2>
</body>
</html>