<!DOCTYPE html>
<html>
    <head>

        <title>logowanie</title>
    </head>

    <body>
    <center>
        <h1>Login</h1>

        <form method="post" action="{% url 'user_login' %}">
            {% csrf_token %}
            <p>
                {{form.as_p}}
            </p>

            <input type="submit" value="Zaloguj się" />
        </form>
    </center>
    </body>
</html>