<!DOCTYPE html>
<html>
    <head>

        <title>Rejestracja</title>
    </head>

    <body>
    <center>
        <h1>Rejestracja</h1>

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <p>
                {{form.as_p}}
            </p>
            <input type="submit" value="Wyślij" />
        </form>
        {%if typ == 'blad'%}
        <div style="color:red;padding:15px">
            Źle wypełnione pola :( Spróbuj jeszcze raz :)
        </div>
        {%endif%}
    </center>
    </body>
</html>