<!DOCTYPE html>
<html>
<head>
    <title>WPISY: {{user}}</title>
</head>
<h2>WPISY: {{user}}</h2>
<body>
{% for wpis in wpisy %}
<div class="wpis">
   <b><p>{{ wpis.title }}</p></b>
    <p>{{wpis.content}}</p>
    <p>By {{ wpis.user }}</p>
    <hr><hr>
</div>
{% endfor %}

<h2> <a href="{% url 'blog' %}">POWRÓT</a><br/></h2>
</body>
</html>